<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" >
  <head>
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Payercoins</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Mulish:wght@200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <style type="text/css">
      body{
        margin: 0;
        width: 100%;
        overflow-x: hidden;
        background-color: #fafafa;
        font-family: 'Mulish', sans-serif;
      }
      h1{
        font-weight: 800;
        font-size: 1.8em;
      }
      p{
        color: #787676;
        font-family: 'Mulish', sans-serif;
        font-size: 1em;
      }
      a{
        color: #48D189;
        font-weight: 700;
        text-decoration: none;
      }
      .logo{
        margin: 30px 0;
      }
      .page{
        max-width: 700px;
        display: block;
        margin: 30px auto;
      }
      .main{
        background-color: white;
        border-radius: 12px;
        padding: 30px 20px;
      }
      .container{
        border: 1px solid #E5E9F2;
        box-sizing: border-box;
        margin: 30px 70px;
        border-radius: 12px;
        padding: 50px 40px;
      }
      .forqr{
        border: 1px solid #E5E9F2;
        box-sizing: border-box;
        padding: 5px;
        width: 200px;
        margin: 0 auto 40px;
        display: block;
        border-radius: 10px;
      }
      .forqr img {
        width: 100%;
      }
      .copy{
        border: 1px solid #E5E9F2;
        border-radius: 10px;
        display: flex;
        padding: 0px 15px;
      }
      .copy svg{
        margin: 15px 0 0 auto;
        width: 30px;
      }

      @media(max-width: 700px) {
        h1{
          font-size: 1.6em;
        }
        .logo{
          margin: 30px 20px;
        }
        .container{
          margin: 30px 0px;
          padding: 50px 20px;
        }
        .copy p{
          font-size: 0.9em;
          overflow-x: hidden;
          white-space: nowrap;
        }
      }
    </style>
  </head>

  <body>
    <div class="page">
      <svg width="150" height="33" class="logo" viewBox="0 0 215 33" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" clip-rule="evenodd" d="M61.3129 24.3633L51.5721 1.67542H56.1967L56.2101 1.67669C57.1807 1.78188 58.0306 2.38331 58.4648 3.26466L58.4731 3.28332L64.1957 17.6357L69.2004 3.07507L69.2142 3.05132C69.6689 2.29339 70.4421 1.78357 71.3142 1.67669L71.3297 1.67499H75.8198L66.5007 26.2011C65.1324 29.1039 62.8257 32.6055 59.3658 32.9393L59.1751 33L58.2251 31.4434C56.5642 27.6033 60.6838 28.1033 61.312 24.3633H61.3129ZM159.566 20.745L150.138 26.2545C149.814 26.3814 149.462 26.4509 149.094 26.4509C148.687 26.4509 148.299 26.3657 147.947 26.2121L137.514 20.1156L138.37 20.6156C137.938 20.203 137.631 19.6567 137.514 19.0421V8.02559C137.554 7.59 137.688 7.18198 137.895 6.82274C138.141 6.3969 138.49 6.03936 138.908 5.7853L147.912 0.524316C148.619 0.203245 149.444 0.18586 150.164 0.475969L159.3 5.81456C159.697 6.06608 160.029 6.41175 160.266 6.82104C160.468 7.1701 160.6 7.56497 160.644 7.98656V18.928C160.585 19.2805 160.463 19.6113 160.291 19.9086C160.104 20.2322 159.858 20.516 159.566 20.7446V20.745ZM143.296 15.6889C143.397 16.384 143.844 16.9918 144.635 17.5118L145.177 17.8358L147.898 19.4259C148.261 19.5931 148.664 19.6863 149.088 19.6863C149.482 19.6863 149.858 19.6058 150.2 19.4603L153.701 17.4151C154.018 17.1738 154.285 16.8675 154.483 16.5159C154.699 16.1325 154.834 15.694 154.861 15.2266V11.3194C154.814 10.9127 154.687 10.5318 154.495 10.1929C154.31 9.86549 154.066 9.57792 153.776 9.3455L150.249 7.28462C149.895 7.12726 149.504 7.03989 149.094 7.03989C148.61 7.03989 148.154 7.16077 147.754 7.37454L144.623 9.20426C144.234 9.4545 143.908 9.79635 143.674 10.2001C143.48 10.5331 143.349 10.9084 143.296 11.3092V14.2765C143.296 14.7473 143.296 15.2185 143.296 15.6897V15.6889ZM22.1028 20.6945L12.6525 26.2163C12.3281 26.3432 11.9753 26.4127 11.6065 26.4127C11.1983 26.4127 10.8094 26.3275 10.4573 26.1735L5.7959 23.4497V31.4052C4.77711 32.0007 4.04121 32.7027 2.8879 32.7027C1.95963 32.7027 0.136201 31.5338 0 30.0408V20.0634C4.08646 17.6755 6.1299 16.4816 6.1299 16.4816C6.2682 16.7335 6.50205 17.0007 6.83228 17.2824L10.4087 19.3721C10.7725 19.5396 11.1911 19.6329 11.601 19.6329C12.0113 19.6329 12.3725 19.5523 12.7162 19.4064L16.2239 17.3566C16.542 17.1148 16.8098 16.8078 17.0084 16.4553C17.2251 16.0706 17.3596 15.6316 17.3873 15.1634V11.2473C17.3407 10.8397 17.2125 10.458 17.021 10.1183C16.8353 9.78999 16.5902 9.502 16.3002 9.26873L12.7652 7.20319C12.4103 7.04498 12.0188 6.95761 11.6073 6.95761C11.1228 6.95761 10.666 7.07849 10.2646 7.29311L7.12648 9.12707C6.73673 9.37774 6.40985 9.72044 6.17475 10.1251C5.98071 10.4589 5.84912 10.8351 5.79673 11.2367V13.2908L0.000838981 16.6771V7.94627C0.0406517 7.50984 0.175182 7.10097 0.383046 6.74088C0.629466 6.3142 0.979397 5.9558 1.39806 5.70132L10.4221 0.428461C11.1308 0.106965 11.9585 0.0891562 12.6797 0.380114L21.8366 5.73059C22.2344 5.98252 22.5671 6.32947 22.8047 6.73961C23.0071 7.08952 23.14 7.48524 23.184 7.90768V18.8741C23.1245 19.227 23.0025 19.5591 22.8299 19.8569C22.6425 20.1813 22.3953 20.4655 22.104 20.695L22.1028 20.6945ZM43.6578 2.89523V1.67584H46.6542C48.0062 1.70256 49.1775 2.63142 49.5266 3.94794L49.535 3.98102V7.71639V18.6578V25.1153H45.8223L45.7917 25.1077C44.8304 24.8646 44.0589 24.1606 43.7056 23.2508L39.0286 25.9839C38.7047 26.1107 38.3526 26.1799 37.9847 26.1799C37.5773 26.1799 37.1897 26.0951 36.8381 25.9411L27.2604 20.345C26.8279 19.9319 26.5211 19.3856 26.4042 18.7715V7.75499C26.444 7.3194 26.5781 6.91138 26.7856 6.55213C27.0316 6.1263 27.3807 5.76875 27.7985 5.5147L36.8025 0.253712C37.5094 -0.0669354 38.335 -0.0843204 39.055 0.205365L43.6582 2.89523H43.6578ZM32.1871 15.4179C32.2885 16.113 32.7349 16.7208 33.5261 17.2408L34.068 17.5653L36.7895 19.1553C37.152 19.3224 37.5547 19.4158 37.9792 19.4158C38.3736 19.4158 38.7491 19.3356 39.0919 19.1897L42.5916 17.1445C42.9089 16.9032 43.1763 16.5969 43.3745 16.2453C43.5903 15.8615 43.7244 15.4234 43.7525 14.956V11.0484C43.706 10.6421 43.5782 10.2608 43.3871 9.9219C43.2018 9.59447 42.9571 9.3069 42.6675 9.07448L39.1401 7.0136C38.7864 6.85582 38.3954 6.76887 37.9847 6.76887C37.5015 6.76887 37.0455 6.88974 36.6453 7.10351L33.5139 8.93324C33.125 9.18348 32.799 9.52533 32.5643 9.92911C32.3707 10.2621 32.2395 10.6374 32.1871 11.0382V14.0055C32.1871 14.4767 32.1871 14.9479 32.1871 15.4183V15.4179ZM81.4757 14.5933C81.5825 16.2822 82.0637 17.9699 83.3896 19.0989C84.7558 20.2628 86.5017 20.639 88.2493 20.639C90.1486 20.639 91.9422 20.1292 93.6198 19.2385L93.6479 19.2236L93.6789 19.216C93.8671 19.1698 94.0599 19.1464 94.2535 19.1464C95.1792 19.1464 96.0233 19.6774 96.4344 20.5168L96.4398 20.5287L97.1866 22.5599L97.0227 22.6748C95.672 23.6223 94.2057 24.4044 92.6371 24.9117C91.055 25.4236 89.3946 25.6255 87.7376 25.6255C84.3011 25.6255 81.0289 24.7433 78.5388 22.249C76.1416 19.848 75.1627 16.7988 75.1627 13.4176C75.1627 11.8152 75.4288 10.2481 75.9773 8.74492C76.5041 7.30116 77.2618 5.9804 78.2622 4.82124C79.2977 3.62136 80.5851 2.73745 82.0213 2.10083C83.6084 1.39803 85.301 1.0952 87.0285 1.0952C93.342 1.0952 97.4263 5.6288 97.4263 12.0646C97.371 13.4706 96.2278 14.5925 94.8255 14.5925H81.4753L81.4757 14.5933ZM81.6014 10.3914H92.2226C91.9829 9.15887 91.4988 7.97299 90.5693 7.10521C89.6616 6.25778 88.5678 5.88539 87.3378 5.88539C85.9376 5.88539 84.6397 6.24379 83.5543 7.1595C82.5435 8.01201 81.9363 9.13003 81.601 10.3914H81.6014ZM206.551 25.8622C204.665 25.8622 202.786 25.6098 200.993 25.0029C199.586 24.5257 198.115 23.8722 196.95 22.9272L196.846 22.8428L197.45 21.083C197.818 20.1987 198.668 19.6266 199.613 19.6266C199.866 19.6266 200.117 19.6677 200.356 19.7483L200.367 19.7521L200.377 19.7568C200.911 20.0087 201.459 20.2305 202.019 20.4159C203.326 20.8476 204.682 21.1102 206.06 21.1102C206.921 21.1102 208.002 21.0088 208.739 20.5143C209.386 20.0812 209.593 19.3873 209.593 18.6294V18.2312C209.593 17.7922 209.425 17.441 209.103 17.1483C208.594 16.6856 207.269 16.2436 206.622 16.0324L203.385 14.9759C202.69 14.749 201.985 14.5081 201.312 14.2197C200.726 13.9682 200.158 13.6645 199.616 13.326C199.093 13.0007 198.605 12.5969 198.233 12.0998C197.87 11.6138 197.612 11.0526 197.425 10.475C197.199 9.77218 197.121 9.00958 197.121 8.27243C197.121 7.17816 197.317 6.09449 197.815 5.11601C198.274 4.216 198.912 3.492 199.758 2.95207C200.594 2.41808 201.508 2.03636 202.468 1.79587C203.531 1.52909 204.634 1.42263 205.727 1.42263C207.209 1.42263 208.681 1.61604 210.116 1.98716C211.484 2.34174 212.807 2.8787 213.985 3.67438L214.11 3.75835L213.3 5.94011L213.293 5.95283C212.892 6.68744 212.123 7.13914 211.291 7.13914C211.074 7.13914 210.857 7.1086 210.643 7.04498C210.198 6.88381 209.751 6.74427 209.301 6.61957C208.278 6.33583 207.193 6.12885 206.129 6.12885C205.341 6.12885 204.195 6.18696 203.49 6.57971C202.955 6.87745 202.748 7.3563 202.748 7.95857C202.748 8.29279 202.794 8.68596 202.981 8.97098C203.192 9.29248 203.688 9.57199 204.02 9.73995C204.845 10.1573 205.822 10.4894 206.696 10.7863L209.645 11.7889C210.63 12.1232 211.665 12.5532 212.533 13.1352C213.325 13.6645 213.908 14.3987 214.33 15.2529C214.841 16.289 215 17.5063 215 18.6527C215 19.6244 214.852 20.5855 214.487 21.4881C214.172 22.2655 213.736 22.9832 213.134 23.5668C212.561 24.1224 211.903 24.5643 211.185 24.9032C210.458 25.2464 209.698 25.5051 208.908 25.6527C208.131 25.7982 207.342 25.8626 206.552 25.8626L206.551 25.8622ZM178.723 4.24101C179.471 3.30155 180.406 2.57629 181.504 2.05121C182.729 1.46547 184.042 1.09605 185.403 1.09605C186.591 1.09605 187.805 1.23686 188.931 1.63682C189.97 2.00625 190.871 2.59834 191.643 3.39232C192.535 4.30845 193.084 5.51385 193.44 6.73409C193.909 8.34369 194.045 10.1145 194.045 11.7864V25.1153H191.054C189.402 25.1153 188.063 23.7598 188.063 22.0883V11.4055C188.063 10.1539 187.946 8.30255 187.172 7.26087C186.49 6.34219 185.35 6.10679 184.273 6.10679C183.711 6.10679 183.146 6.24972 182.623 6.44822C181.987 6.68955 181.388 7.01148 180.835 7.4089C180.247 7.83049 179.784 8.3738 179.425 9.00407C179.047 9.66529 178.863 10.3757 178.863 11.1392V25.1161H175.869C174.215 25.1161 172.874 23.7598 172.874 22.0853V1.67627H175.813C177.299 1.67627 178.527 2.79259 178.724 4.24144L178.723 4.24101ZM163.866 22.3474V1.67584H166.972C168.405 1.784 169.541 2.93044 169.652 4.38056V25.1153L166.556 25.1149C165.098 25.0088 163.948 23.8268 163.865 22.3474H163.866ZM135.435 22.8903L135.267 23.0099C134.078 23.8552 132.787 24.5537 131.401 25.0046C130.017 25.4546 128.561 25.6264 127.111 25.6264C125.34 25.6264 123.598 25.3227 121.962 24.6225C120.501 23.9964 119.185 23.1112 118.133 21.9008C117.127 20.7441 116.363 19.4306 115.832 17.9851C115.288 16.5032 115.018 14.9547 115.018 13.3731C115.018 11.196 115.442 9.08762 116.433 7.14635C117.396 5.26149 118.802 3.7944 120.615 2.72558C122.583 1.56599 124.781 1.09647 127.043 1.09647C130.184 1.09647 133.229 1.88664 135.442 4.25841L135.57 4.39668L134.521 6.30402C134.111 6.93386 133.173 7.34909 132.603 7.34909C132.033 7.34909 131.944 7.27487 131.654 7.14211H131.654C130.437 6.44059 129.094 6.08389 127.615 6.08389C125.781 6.08389 124.082 6.59667 122.868 8.0434C121.608 9.54399 121.204 11.4696 121.204 13.3964C121.204 15.3381 121.671 17.1916 122.976 18.6591C124.249 20.0889 125.92 20.6398 127.796 20.6398C128.082 20.6398 128.368 20.6326 128.652 20.6033C128.909 20.5766 129.166 20.5423 129.421 20.4922C129.66 20.4451 129.897 20.3836 130.129 20.309C130.348 20.2386 130.564 20.1622 130.776 20.0914C130.964 20.0168 131.153 19.9281 131.335 19.8259C131.443 19.7648 131.555 19.7067 131.665 19.6456C131.915 19.5561 131.861 19.5078 132.463 19.5078C133.065 19.5078 134.19 20.0384 134.588 20.8154L135.435 22.8911L135.435 22.8903ZM106.509 4.25544C107.181 3.42541 107.952 2.63609 108.824 2.04738C109.777 1.40439 110.836 1.09605 111.98 1.09605C112.755 1.09605 113.549 1.24238 114.297 1.44003L114.489 1.4905V6.89908L114.152 6.78753C113.302 6.50463 112.396 6.30487 111.497 6.30487C110.135 6.30487 108.931 6.72561 107.974 7.72105C106.912 8.8255 106.608 10.3876 106.608 11.8784V25.1153H103.451C102.202 25.0907 101.097 24.2946 100.665 23.1138L100.649 23.0701V23.0235C100.649 15.9938 100.649 8.96462 100.649 1.93499V1.67584H103.566C105.054 1.70511 106.28 2.8138 106.509 4.25501V4.25544Z" fill="#48D189"/>
      </svg>
      <div class="main">
        <h1>One step closer to pay!</h1>
        <p>Hi <%= name %></p>
        <p>Thank you for using our payment page to make your payment <br/>Here are the wallet details below</p>
        <div class="container">
          <div class="forqr">
            <img src="<%= qr %>" alt="qrcode" />
          </div>
          <p style="margin: 0 0 8px !important">AMOUNT</p>
          <div class="copy">
            <p id="text"><%= amountInCrypto %> <%= crypto_symbol %> (<%= fiat_amount %> <%= fiat_currency %>)</p>
            <svg width="18" height="21" viewBox="0 0 18 21" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M4 4.5177V1.5177C4 1.25248 4.10536 0.99813 4.29289 0.810593C4.48043 0.623057 4.73478 0.5177 5 0.5177H17C17.2652 0.5177 17.5196 0.623057 17.7071 0.810593C17.8946 0.99813 18 1.25248 18 1.5177V15.5177C18 15.7829 17.8946 16.0373 17.7071 16.2248C17.5196 16.4123 17.2652 16.5177 17 16.5177H14V19.5177C14 20.0697 13.55 20.5177 12.993 20.5177H1.007C0.875127 20.5185 0.744397 20.4932 0.622322 20.4433C0.500247 20.3934 0.389233 20.3199 0.295659 20.227C0.202084 20.1341 0.127793 20.0236 0.0770543 19.9018C0.0263156 19.7801 0.000129374 19.6496 0 19.5177L0.00300002 5.5177C0.00300002 4.9657 0.453 4.5177 1.01 4.5177H4ZM6 4.5177H14V14.5177H16V2.5177H6V4.5177Z" fill="#909198"/>
            </svg>
          </div>
          <p>WALLET ADDRESS</p>
          <div class="copy">
            <p id="address"><%= wallet_address %></p>
            <svg width="18" height="21" viewBox="0 0 18 21" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M4 4.5177V1.5177C4 1.25248 4.10536 0.99813 4.29289 0.810593C4.48043 0.623057 4.73478 0.5177 5 0.5177H17C17.2652 0.5177 17.5196 0.623057 17.7071 0.810593C17.8946 0.99813 18 1.25248 18 1.5177V15.5177C18 15.7829 17.8946 16.0373 17.7071 16.2248C17.5196 16.4123 17.2652 16.5177 17 16.5177H14V19.5177C14 20.0697 13.55 20.5177 12.993 20.5177H1.007C0.875127 20.5185 0.744397 20.4932 0.622322 20.4433C0.500247 20.3934 0.389233 20.3199 0.295659 20.227C0.202084 20.1341 0.127793 20.0236 0.0770543 19.9018C0.0263156 19.7801 0.000129374 19.6496 0 19.5177L0.00300002 5.5177C0.00300002 4.9657 0.453 4.5177 1.01 4.5177H4ZM6 4.5177H14V14.5177H16V2.5177H6V4.5177Z" fill="#909198"/>
            </svg>
          </div>
        </div>
        <p style="text-align: center; margin: 0 20px"><a href="#">Click here</a> to monitor the transaction status</p>
      </div>
    </div>
  </body>
</html>